
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <address>
                        <h5>Washington County Elections Office</h5>
                        3700 SW Murray Blvd<br />
                        Suite 101<br />
                        Beaverton, OR 97005
                    </address>
                </div>
                <div class="col-md-6">
                    <address>
                        <h5>Contact Us</h5>
                        <abbr title="Phone"><i class="fa fa-phone"></i></abbr> (503) 846-5800<br />
                        <abbr title="Fax"><i class="fa fa-fax"></i></abbr> (503) 846-5810<br />
                        <abbr title="Email"><i class="fa fa-envelope"></i></abbr> <a href="http://www.co.washington.or.us/divisionemailform.cfm?id=5" target="_blank">Email</a>
                    </address>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <p class="copyright">Washington County Oregon</p>
            </div><!-- /.row -->
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

    <script>
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top - 70
                        }, 100);
                        return false;
                    }
                }
            });
        });
        $('#wysiwyg').summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['style']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['view', ['codeview']],
                // ['font', ['strikethrough', 'superscript', 'subscript']],
                // ['fontsize', ['fontsize']],
                // ['para', ['ul', 'ol', 'paragraph']],
                // ['height', ['height']]
            ]
        });
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-98360889-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
